.about {
  //   background-color: var(--primary);
  &__section {
    &__title {
      font-size: 64px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-align: center;
      color: var(--primary);

      margin-bottom: 24px;
    }
    &__text {
      //   color: #fff;
      color: black;
      font-size: 18px;
      font-weight: 300;
      text-align: justify;
    }
  }
}
