.footer {
  background-color: var(--primary);
  padding-top: 80px;
  padding-bottom: 40px;
  &__content {
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    text-align: right;
  }
  &__intro {
    flex: 1;
    margin-left: 40px;
    &__title {
      margin-bottom: 24px;
      h3 {
        color: #fff;
        font-size: 20px;
        font-weight: 700;
      }
    }
    &__text {
      color: #fff;
      font-size: 18px;
      font-weight: 300;
      text-align: justify;
    }
  }
  &__address {
    flex: 1;
    margin-left: 40px;

    &__title {
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 24px;
    }
    &__text {
      color: #fff;
      font-size: 18px;
      font-weight: 300;
    }
  }
  &__media {
    flex: 1;
    margin: 0 40px;
    a {
      color: #fff;
    }
    &__title {
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 24px;
    }
    &__content {
      color: #fff;
      font-size: 18px;
      font-weight: 300;
      line-height: normal;
    }
    &__socials {
      display: flex;
      padding: 0;
      list-style-type: none;
    }
  }
}
